.cover__text {
	color: #fff;
	max-width: 560px;
	position: relative;
	z-index: 1;
	margin: auto;
}

@media (min-width: 426px) and (max-width: 767px) {
	.cover__text {
		max-width: calc(100vw - 96px);
	}
}

@media (min-width: 320px) and (max-width: 425px) {
	.cover__text {
		max-width: 288px;
	}
}