.place {
	display: grid;
	grid-template-columns: 460px minmax(min-content, max-content);
	grid-template-rows: max-content fit-content(460px);
	gap: 48px 40px;
	margin: 0;
	margin-bottom: 80px;
}

.place:last-of-type {
	margin-bottom: 0;
}

@media (max-width: 1024px) {
	.place {
		grid-template-columns: 440px minmax(min-content, max-content);
		gap: 48px 32px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.place {
		grid-template-columns: 340px minmax(min-content, max-content);
		gap: 48px 28px;
	}
}

/* @media (min-width: 426px) and (max-width: 767px) {
	.place {
		grid-template-columns: repeat(2, 1fr);
		gap: 48px 16px;
	}
} */

@media (min-width: 320px) and (max-width: 767px) {
	.place {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, minmax(min-content, max-content));
		gap: 0;
		margin-bottom: 50px;
	}
	
	.place:last-of-type {
		margin-bottom: 0;
	}
}